* {
    box-sizing: border-box;
}

    @media (max-width: 700px) {
        .col-md-3 {
          width: 100%;
        }
      }

body {
    background-color: #e2ebf0;
}

header {

    background-image: url("new-image-hack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;;
    

}
h1 {
    font: 400 140px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h2 {
    font-family: 'Cookie', Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
}

.main {

    padding-top: 400px;
}

.main-input {
    border-radius: 5px;
    margin-top: 20px;
    width: 350px;
}
.main-input:placeholder {

    font-family: 'Cookie', Helvetica, sans-serif;
}

.main-btn {
    
    margin-top: 10px;

}
#recipe-template {
    background-color: #e4efe9; 
    width: 100%;
}

.popular-row {

    background-color: #e4efe9;
}

.recipe-list {
    text-align: center;
    margin-top: 25px;
    font-family: 'Bitter', serif;
}

 
 .list a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 35, 35);
    text-overflow: ellipsis;
   
 }

 #submitButton {
    font-family: FontAwesome;
  }

ul, li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
 
}

li {
    height: 250px;
}

.list img {
  
    border-radius: 5px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;

}

.list:hover img{
    
    opacity: .5;
}

.pop img {

border-radius: 5px;
opacity: 1;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
width: 100%;

}

.pop:hover img {

    opacity: .5;
}
.popular-recipes {

    text-align: center;
}

a {

    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 35, 35);
    text-overflow: ellipsis;
    max-width: 270px;
  

}

.find-popular {

    margin-top: 10px;
}

.like-button {
    background-color: white;
    border-radius: 
}