* {
    box-sizing: border-box;
}

header {

    background-image: url("new-image-hack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 800px;
    
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
} */
}
h1 {
    font: 400 140px/0.8 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h2 {
    font-family: 'Cookie', Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
}

.main {

    padding-top: 500px;
}

.main-input {

    margin-top: 20px;
    width: 250px;
}
.main-input:placeholder {

    font-family: 'Cookie', Helvetica, sans-serif;
}

.main-btn {

    margin-top: 10px;
    opacity: 0.75;

}
#recipes{
    background-color: #e1cca1;
   
    width: 100%;
}

#popular {

    background-color: #8d7f63;
}

.recipe-list {
    text-align: center;
    margin-top: 25px;

}
 .list {
     list-style-type: none;
 }
 .list a {
    margin: auto;
 }

 #submitButton {
    font-family: FontAwesome;
  }

.pop {
    list-style-type: none;
}

.popular-recipes {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 35, 35);
}

.find-popular {

    margin-top: 10px;
}
/* 
.fa-thumbs-o-up {

} */
