* {
    box-sizing: border-box;
}
body {
    background-color: #F3F3EB;
    min-width: 400px;
}

header {
    background-image: url("new-image-hack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

h1 {
    font: 400 140px/0.8 'Cookie', Helvetica, sans-serif;  
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h2 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Cookie', Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    padding-top: 7px;
}

.main {
    padding-top: 400px;
}

/* .main-btn {
    display:block;
    margin: 0 auto;
} */

.wrapper{
    margin-top:1.5em;
    font-family:  'Raleway', sans-serif;
  }
 a,  a:visited, a:hover, a:active{
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
      position:relative;
    transition:0.5s color ease;
      text-decoration:none;
      color:#fff;
      font-size:0.5em;
  }
 a:hover{
      color:#fff
  }
a.before:before, a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
  }
a.before:before{
    top:-0.25em;
  }
  a.after:after{
    bottom:-0.25em;
  }
  a.before:before, a.after:after{
    height:5px;
   height:0.15rem;
    width:0;
    background:#fff;
  }
  
a.before:hover:before, a.after:hover:after{
    width:100%;
  }
  .square{
    box-sizing:border-box;
    margin-left:-0.4em;
    position:relative;
    font-size:16px;
    overflow:hidden;
    padding:15px 10px;
    letter-spacing: 1.5px;
  
  }
  .square a{
    position:static;
    font-size:100%;
    padding:7px 11px;
    border: 2px solid white;
  }
  .square:before,.square:after{
    content: "";
    box-sizing:border-box;
    transition:0.25s all ease;
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    position:absolute;
    width:5px;
    width:0.15rem;
    height:0;
    background:#fff;
  }
  .square:before{
    left:0;
    bottom:-0.2em;
  }
 
  .square:after{
    right:0;
    top:-0.2em;
  }

  .square a:before{
    left:0;
    transition:0.25s all ease;
  }
  .square a:after{
    right:0;
    transition:0.25s all ease;
  }

  .square:hover:before,.square:hover:after{
    height:calc(100% + 0.4em);
  }
  .square:hover a:before,.square:hover a:after{
    width:100%;
  }



/* end */

.main-input {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 350px;
    padding-left: 7px;
    padding-bottom: 5px;
    border: 1px solid darkgray;
}

.main-input:placeholder {
    font-family: 'Cookie', Helvetica, sans-serif;
}

.popular-row {
    background-color: #F3F3EB;

}

.recipe-list {
    text-align: center;
    margin-top: 25px;
    font-family: 'Bitter', serif;
    min-height: 1px;
    /* display: none; */
}

/* .show {
    display: block;
} */

.list {

    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
    height: auto;
    display: block;   
}

.popular-container, .recipe-container {
    position: relative;
    float: left;
    padding-bottom: 30px;
}

.popular-wrapper:after, .recipe-container:after {
    position: relative;
    display: table;
    content: "";
    clear: both;
}

.list .title {
    height: 50px;
}

.list a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 35, 35);
    text-overflow: ellipsis;
}

.list img { 
    border-radius: 5px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
}


.list:hover img {
    opacity: .5;
}

.popular-recipes {
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 35, 35);
    text-overflow: ellipsis;
    max-width: 270px;
}


.like-button, .dislike-button {
    padding: 0 10px;
}

.like-button:hover, .dislike-button:hover {
    transform: scale(1.8);

}

/* dropdown style */

/* Dropdown Button */
.dropbtn {
    background: rgba(134, 218, 152, 0);
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    border: 2px solid white;;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content li {
    height: 30px;
    text-align: left;
    padding-left:5px;
    padding-top: 5px;
}

/* Links inside the dropdown */
/* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #f1f1f1} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #5f8160;
}

select {
    border-radius: 5px;
    background-color: white;
    height: 28px;
    width: 240px;
    background-repeat:no-repeat;
    background-position:right;
    display: block;
    margin: 0 auto 10px auto;
    padding-left: 7px;
}


.down {
    color: white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

select, options {
    padding-bottom: 5px;
}

.back {

background-color: rgba(53, 48, 48, 0.082);
margin-top: 10px;
margin-bottom: 10px;
}

.fa-thumbs-o-up {
  
    bottom:30px;
    right:5px;
}

.fa-thumbs-o-down {
    
    bottom:30px;
    right:30px;
}

.find-popular {
    margin-top: 7px;

}

.thumbs {
    margin: 8px auto 0 auto;
    width: 60%;
    background-color: #fffcfcc7;
    border-radius: 10px;
    border: 1px solid #ccc5c5;
}

.likes {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    
}


@media (max-width: 767px) {
    .list img {
        width: 80%;
    }
 
}

@media (max-width: 575px) {
    .list img {
        width: 60%;
    }
}